/* #RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

:root {
  --player-height: 90px;
  --siderbar-width: 50px;
  --main-content-header-height: 100px;
}

/* UTILITY */

.debug * {
  min-height: 100px;
  padding: 5px;
  border-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* la row manda a capo le righe, la riga deve avere lo stesso margine a destra e a sinistra del container in negativo*/

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* quando una classe inizia con col ha il seguente padding */

[class*="col-"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-1-5 {
  width: calc(100% / 5);
}

.col-1-6 {
  width: calc(100% / 6);
}

.btn {
  display: inline-block;
  padding: 3px 6px;
  background-color: transparent;
  border: 1px solid currentColor;
  color: black;
}

/*  */

.wrapper {
  width: 100vw;

  height: 100vh;
  overflow: hidden;
  background-color: #141922;
}

#top-content {
  height: calc(100vh - var(--player-height));
  display: flex;
}

#player {
  height: var(--player-height);
  background-color: #282828;
}

/* #SIDERBAR */

#siderbar {
  width: var(--siderbar-width);
  background-color: black;
  color: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 10px;

  font-weight: 20px;
}

#siderbar .none {
  display: none;
}
#siderbar img {
  width: 50%;
}

/* SIDERBAR-TOP */

#siderbar .siderbar-top {
  line-height: 2;

  padding-top: 10px;
}
#siderbar .siderbar-top li {
  line-height: 2;
}

#siderbar .spotify {
  padding-left: 15px;
  padding-bottom: 10px;
}
#siderbar .home,
#siderbar .search,
#siderbar .bookshelf {
  padding-left: 10px;
}
#siderbar .playlist .title,
#siderbar .crea-playlist,
#siderbar .playlist ul {
  padding-left: 10px;
  padding-bottom: 10px;
}

#siderbar .bookshelf {
  padding-bottom: 10px;
}
#siderbar .siderbar-top ul,
#siderbar .siderbar-top .search,
#siderbar .siderbar-top .bookshelf,
#siderbar .siderbar-bottom .install-text {
  color: #5e5e5e;
}
#siderbar .crea-playlist {
  display: flex;
  gap: 0.3rem;
  color: #5e5e5e;
}

#siderbar .playlist .square {
  height: 30px;
  width: 30px;
  background-color: #5e5e5e;
  color: #080b12;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

#siderbar .search:hover,
#siderbar .bookshelf:hover,
#siderbar .crea-playlist:hover,
#siderbar .siderbar-top ul li:hover {
  color: white;
}

/* SIDERBAR-BOTTOM */
#siderbar .install,
#siderbar .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

#siderbar .install {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

#siderbar .install img {
  width: 12px;
}

#siderbar .install-text,
#siderbar .profile-name {
  display: none;
}

#siderbar .profile-pic-container {
  width: 25px;
  height: 25px;
  background-color: #5e5e5e;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 5px;
}

#siderbar .profile-pic-container img {
  width: 20px;
}

/* #MAIN-CONTENT */

#main-content {
  width: calc(100% - var(--siderbar-width));
}

#main-content-header {
  height: var(--main-content-header-height);
  background-color: #080b12;
}

#content {
  height: calc(
    100vh - var(--player-height) - var(--main-content-header-height)
  );
  overflow: auto;
}

#main-content #main-content-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

#main-content .button-upgrade {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 20px;
}

#main-content #content .link-list {
  display: flex;
  justify-content: center;
  color: #7b7d82;
  font-size: 10px;

  gap: 1rem;
  padding: 20px 40px;
  flex-wrap: wrap;
}

#main-content #content .link-list .link-top:hover {
  color: white;
}

/*  
#main-content #content .link-list .link-list-line {
  width: 10px;
  height: 2px;
  color: lime;
}
  */

#main-content #content h3,
#main-content #content h4 {
  color: white;
}

#main-content #content p {
  color: #727479;
}

/* far andare a capo in base allo spazio a disposizione */

#main-content #content .song {
  display: flex;
  flex-wrap: wrap;
}
#main-content #content .recent,
#main-content #content .create,
#main-content #content .popular {
  padding: 10px 20px;
}

.size-col {
  width: calc(100% / 2);
  padding: 10px;
}

#main-content #content .information {
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

#main-content #content .card-hover {
  display: none;
}

#main-content #content .card {
  position: relative;
  cursor: pointer;
}

#main-content #content .card:hover .card-hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000077;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
}

#main-content #content .circle {
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}

/* # PLAYER */

#player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 8px;
  padding: 0 10px;
}

#player .player-left,
#player .player-center,
#player .player-right {
  flex: 1 1 0px;
}

#player .player-left,
#player .player-right {
  max-width: 250px;
}

#player p {
  color: #5e5e5e;
}

#player .player-left,
#player .player-right {
  display: flex;
  gap: 10px;
}

#player .player-left .icone {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #5e5e5e;
}

#player .player-center {
  max-width: 450px;
}

#player .player-center-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player .player-center-down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.8rem;
}

#player .player-center-down .bar-time {
  flex-grow: 1;
  height: 4px;

  border-radius: 15px;
  background-color: #5e5e5e;
  max-width: 70%;
}

#player .bar-time-rest {
  width: 30%;
  height: 100%;

  border-radius: 15px;
  background-color: white;
  position: relative;
}

#player .player-center-down .bar-time > .bar-time-rest > .ball {
  background-color: white;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  display: none;
}

#player .player-center-down .bar-time:hover > .bar-time-rest > .ball {
  display: block;
}

#player .player-center-down .bar-time:hover > .bar-time-rest {
  background-color: lime;
}

#player ul {
  display: flex;
  gap: 20px;
  font-size: 15px;
}

#player img {
  width: 25px;
}

#player .bar-volume {
  width: 100px;

  border-radius: 15px;
  background-color: #5e5e5e;
}

#player .bar-volume-high {
  width: 20px;
  height: 9px;

  border-radius: 15px;
  background-color: white;
}

/************************************************
               RESPONSIVE

 ************************************************/

/* SMALL */
@media screen and (min-width: 576px) {
  :root {
    --siderbar-width: 200px;
  }

  .logo-xs {
    display: none;
  }

  #siderbar .none {
    display: inline;
  }

  #siderbar .siderbar-top .logo-s img {
    width: 60%;
  }

  #siderbar img {
    width: 10%;
  }
  #siderbar .home {
    border-left: 1px solid greenyellow;
    padding-left: 8px;
  }

  /* SIDERBAR-BOTTOM */

  #siderbar .install-text,
  #siderbar .profile-name {
    display: block;
  }

  #siderbar .install {
    padding-bottom: 0.8rem;
    margin: 0 10px;

    border-bottom: 1px solid gray;
    margin-bottom: 0.8rem;
  }

  #siderbar .install,
  #siderbar .profile {
    justify-content: flex-start;
  }
  #siderbar .profile {
    padding-left: 10px;
  }

  #player .player-center {
    flex: 2 1 0px;
  }
}

/* MEDIUM */

@media screen and (min-width: 768px) {
  #player .player-left .icone {
    display: block;
  }

  #player .player-left {
    gap: 1rem;
  }
  .size-col {
    width: calc(100% / 4);
  }
}

/* LARGE */

@media screen and (min-width: 992px) {
  .size-col {
    width: calc(100% / 6);
  }
}
