/* #RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

:root {
  --player-height: 90px;
  --siderbar-width: 50px;
  --main-content-header-height: 100px;
}

/* UTILITY */

.debug * {
  min-height: 100px;
  padding: 5px;
  border-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* la row manda a capo le righe, la riga deve avere lo stesso margine a destra e a sinistra del container in negativo*/

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* quando una classe inizia con col ha il seguente padding */

[class*="col-"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-1-5 {
  width: calc(100% / 5);
}

.col-1-6 {
  width: calc(100% / 6);
}

.card {
  border: 1px solid black;
  padding: 10px;
}
.btn {
  display: inline-block;
  padding: 3px 6px;
  background-color: transparent;
  border: 1px solid currentColor;
  color: black;
}

/*  */

.wrapper {
  width: 100vw;

  height: 100vh;
  overflow: hidden;
  background-color: #141922;
}

#top-content {
  height: calc(100vh - var(--player-height));
  display: flex;
}

#player {
  height: var(--player-height);
  background-color: #282828;
}

/* #SIDERBAR-TOP */

#siderbar {
  width: var(--siderbar-width);
  background-color: black;
  color: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-weight: 20px;
}

#siderbar .none {
  display: none;
}
#siderbar img {
  width: 50%;
}

#siderbar .siderbar-top {
  line-height: 2;
  padding-left: 10px;
  padding-top: 10px;
}
#siderbar .siderbar-top li {
  line-height: 2;
}

#siderbar .siderbar-top ul,
#siderbar .siderbar-top .search,
#siderbar .siderbar-top .bookshelf {
  color: #5e5e5e;
}
#siderbar .crea-playlist {
  display: flex;
  gap: 0.3rem;
}

#siderbar .playlist .square {
  height: 30px;
  width: 30px;
  background-color: #5e5e5e;
  color: #080b12;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
/* SIDERBAR-BOTTOM */
#siderbar .install,
#siderbar .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

#siderbar .install {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

#siderbar .install-text,
#siderbar .profile-name {
  display: none;
}

#siderbar .profile-pic-container {
  width: 25px;
  height: 25px;
  background-color: #5e5e5e;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 5px;
}

#siderbar .profile-pic-container img {
  width: 20px;
}

/* #MAIN-CONTENT */

#main-content {
  width: calc(100% - var(--siderbar-width));
}

#main-content-header {
  height: var(--main-content-header-height);
  background-color: #080b12;
}

#content {
  height: calc(
    100vh - var(--player-height) - var(--main-content-header-height)
  );
  overflow: auto;
}

/* # PLAYER */

#player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 8px;
  padding: 0 10px;
}

#player p {
  color: #5e5e5e;
}

#player .player-left,
#player .player-right {
  display: flex;
  gap: 10px;
}

#player .player-left .icone {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #5e5e5e;
}

#player .player-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  gap: 30px;
}

#player .player-center-down {
  display: flex;
  gap: 5px;
}

#player .player-center-down .bar-time {
  width: 100px;
  border: 1px solid #5e5e5e;
  border-radius: 15px;
  background-color: #5e5e5e;
}

#player .bar-time-rest {
  width: 30px;
  height: 9px;

  border-radius: 15px;
  background-color: white;
}

#player ul {
  display: flex;
  gap: 20px;
  font-size: 15px;
}

#player img {
  width: 25px;
}

#player .bar-volume {
  width: 100px;

  border: 1px solid #5e5e5e;
  border-radius: 15px;
  background-color: #5e5e5e;
}

#player .bar-volume-high {
  width: 20px;
  height: 9px;

  border-radius: 15px;
  background-color: white;
}

/************************************************
               RESPONSIVE

 ************************************************/

/* SMALL */
@media screen and (min-width: 576px) {
  :root {
    --siderbar-width: 200px;
  }

  .logo-xs {
    display: none;
  }

  #siderbar .none {
    display: inline;
  }

  #siderbar .siderbar-top .logo-s img {
    width: 60%;
  }

  #siderbar img {
    width: 10%;
  }

  /* SIDERBAR-BOTTOM */

  #siderbar .install-text,
  #siderbar .profile-name {
    display: block;
  }

  #siderbar .install {
    padding-bottom: 0.8rem;
    border-bottom: 1px solid gray;
    margin-bottom: 0.8rem;
  }

  #player .player-center-down .bar-time {
    width: 130x;
  }
}

/* MEDIUM */

@media screen and (min-width: 768px) {
  #player .player-left .icone {
    display: block;
  }

  #player .player-left {
    gap: 1rem;
  }

  #player .player-center-down .bar-time {
    width: 130x;
  }
}

/* LARGE */

@media screen and (min-width: 992px) {
  #player .player-center-down .bar-time {
    width: 300x;
  }
}
